---
layout: default
archive: true
---

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <h2 class="headline">{{ page.date | date:"%B %-d, %Y" }}</h2>
    </header>
    <section id="post-body">
        <div>
           {% if page.header-img %}
            <img width="600" src="{{site.baseurl}}/{{page.header-img}}" alt="{{page.title}}">
            {% endif %}
        </div>
        {{content}}
    </section>
</article>

<div class="PageNavigation">
    {% if page.previous.url %}
    <a class="prev" href="{{ site.baseurl }}{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
    <a class="next" href="{{ site.baseurl }}{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
</div>

<footer id="post-meta" class="clearfix">
    <a href="https://github.com/{{ site.github_username }}">
        <img class="avatar" src="{{ site.baseurl }}/assets/images/nadun.jpg">
        <div>
            <span class="dark">{{ site.author }}</span>
            <span>{{ site.description }}</span>
        </div>
    </a>

    <section id="sharing">
        {% include share.html %}
    </section>
</footer>

<!-- Disqus comments -->
{% if site.disqus %}
<div class="archive readmore">
    <h3>Comments</h3>
    {% include disqus.html %}
</div>
{% endif %}

<!-- Archive post list -->
{% if page.archive %}
<ul id="post-list" class="archive readmore">
    <h3>Read more</h3>
    {% for post in site.posts %}
    <li>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% include footer.html %}
